{% if not embeddable -%}
<!doctype html>
<head>
<meta charset="UTF-8"/>
<style type="text/css">
{{CSS}}
</style>
</head>
<body>
{% endif -%}
<div class="code-block"><pre><div class="chunk">
{%- for row in diff -%}
   {% if loop.index is divisibleby CHUNK_SIZE -%}
     </div> <div class="chunk">
   {% endif -%}
   <span class="linenos">{{loop.index}}</span>{{row|safe}}
{% endfor -%}
</div></pre></div>
{%- if not embeddable %}
</body>
{% endif %}
