<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
<style>
/* Shared CSS */
{{extern_css|safe}}
/* AST specific CSS */
a.backref {
    text-decoration: none;
    font-weight: bold;
{%- if dark %}
    span { color: #94c6d4; }
{% else %}
    span { color: #1C01CE; }
{% endif -%}
}
a { color: inherit; }
:target:not(.backref) {
{%- if dark %}
    background-color: #076678;
{% else %}
    background-color: gold;
{% endif -%}
}
body {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
{% if dark %}
    background: #332d37;
    color: #e6edf3;
{% endif -%}
}
.pane {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    border: solid 2px black;
    box-sizing: border-box;
}
.pane .tabs {
    height: 100%;
    position: relative;
}
.pane .tab {
    display: none; /* while we use z-index for hiding/showing tabs, making them display:none by default makes it snappier */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
{%- if dark %}
    background: #332d37;
{% else %}
    background-color: white; /* we have to use some color here so it won't be transparent */
{%- endif %}
}
.pane .tab:first-child {
    z-index: 1;
    display: block !important;
}
.ast-pane {
    resize: horizontal;
    overflow: auto;
    width: 66.6%;
}
.source-pane {
    flex-grow: 1;
    width: 33.3%;
}
{% if dark -%}
select {
    outline: none;
    border: solid 1px black;
    background: #332d37;
    color: #e6edf3;
}
{% endif -%}
.code-block {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
{% if dark %}
.code-block { background: #332d37; }
{% endif -%}
.y-scrollable {
    overflow-y: auto;
}
.linenos {
    user-select: none;
    display: inline-block;
    text-align: right;
}
.linenos::selection {
    /* work around imperfect behaviour of "user-select:none" in Firefox: programmatically
    selected element would still be highlighted (even though it would be ignored by ctrl+c) */
    background-color: transparent;
}

/* convert fat chromium scrollbar into firefox-like thin one */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: transparent;
}
</style>
<script>
{{js|safe-}}
</script>
</head>
<body>

<!--<div class="pane ast-pane y-scrollable">-->
<div class="pane ast-pane">
{% if asts | length > 1 -%}
<select id="ast-tabmenu" onchange="showtab(this.options[this.selectedIndex].value, false, 'ast-tabmenu')">
{% for ast in asts -%}
   {%- set name = ast.0 -%}
   <option value="{{name}}">{{name}}</option>
{% endfor -%}
</select>
{% endif -%}
<div class="tabs">
{% for ast in asts -%}
   {%- set name, content = ast.0, ast.1 -%}
   <div class="tab y-scrollable" id="{{name}}">{{content|safe}}</div>
{% endfor -%}
</div>
</div>

<div class="pane source-pane">
{% if srcfiles-%}
<select id="src-tabmenu" onchange="showtab(this.options[this.selectedIndex].value, false)">
{% for fname in srcfiles-%}
   <option value="{{fname}}">{{fname}}</option>
{% endfor -%}
</select>
{% endif -%}
<div class="tabs">
{% for fname in srcfiles-%}
  {{make_tab(fname)|safe}}
{% endfor -%}
</div>
</div>
</body></html>

