<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
<style>
/* Shared CSS */
{{diff_css|safe}}
/* AST specific CSS */
a { color: inherit; }
mark { /* highlight matched element */
    background-color: gold;
    .th {
        background-color: white;
    }
}
body {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
}
.pane {
    height: 100vh;
    border: solid 1px black;
    box-sizing: border-box;
    flex: 0 0 50%;
}
.source-pane {
    display: flex;
    flex-flow: column nowrap;

    .tabmenu {
        display: flex;
        flex-flow: row wrap;
    }
    .tabs {
        height: 100%;
        position: relative;
    }
    .tab {
        position: absolute;
        background: white;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .tab:first-child {
        z-index: 1;
    }
}
.y-scrollable {
    overflow-y: scroll;
}
</style>
<script>
var top_idx = 1;
var markTag = null;
function showtab(tabname) {
    document.getElementById(tabname).style.zIndex = ++top_idx;
}
function markTagReset() {
    if(markTag) markTag.replaceWith(...markTag.childNodes);
    markTag = document.createElement("mark");
}
function skipToChar(node, i) {
    // Skip to node that contains ith character.
    // Returns node, and char index relative to found node
    if(node == null) {
        return [null, i];
    } else if(node.nodeType == Node.TEXT_NODE) {
         if(i >= node.length) return skipToChar(node.nextSibling, i-node.length);
         else return [node, i];
    } else {
        let subnode = null;
        if(node.childNodes) [subnode, i] = skipToChar(node.childNodes[0], i);

        if(subnode == null || subnode.nodeType != Node.TEXT_NODE || i >= subnode.length) {
            // childlist didn't suffice, try siblings
            return skipToChar(node.nextSibling, i);
        } else {
            return [subnode, i];
        }
    }
}
function highlight_file(name, first_row, first_col, last_row, end_col) {
    showtab(name);
    markTagReset();
    const range = document.createRange();

    const [startNode, startOffset] = skipToChar(document.getElementById(name + ":" + first_row).nextSibling, first_col-1)
    range.setStart(startNode, startOffset)
    const [endNode, endOffset] = skipToChar(document.getElementById(name + ":" + last_row).nextSibling, end_col-1)
    range.setEnd(endNode, endOffset)

    range.surroundContents(markTag);
}
</script>
</head>
<body>

<div class="pane y-scrollable">
{{diff|safe}}
</div>

<div class="pane source-pane">
<div class="tabmenu">
{% for fname in srcfiles-%}
   <button type="button" onclick="showtab('{{fname}}')">{{fname}}</button>
{% endfor -%}
</div>
<div class="tabs">
{% for fname in srcfiles-%}
  {{make_tab(fname)|safe}}
{% endfor -%}
</div>
</div>
</body></html>

